{% extends '@YosimitsoWorkingForum/Search/search.html.twig' %}

{% block forum %}

    {{ parent() }}

    {% set post_per_page = wf_parameter('post_per_page') %}

    <div id="wf_forum_content">

        <div id="wf_forum">
            <div class="wf_forum">
                <h2>{{ 'search.results_for' | trans({'%keywords%' : keywords}) }}</h2>

                    <table class="wf_thread_list">
                        {% for post in postList %}
                            {% set thread = post.thread %}
                            {% set subforum = thread.subforum %}
                            {% set threadPath = path( 'workingforum_thread', {
                                'forumSlug' : subforum.forum.slug,
                                'subforumSlug' : subforum.slug,
                                'threadSlug' : thread.slug,
                                'threadId': thread.id}) %}

                            <tr {{ html_class_attribute({wf_pin: thread.pin, wf_resolved: thread.resolved}) }}>
                                <td class="wf_sub_name">
                                    <p>
                                        {% if thread.locked %}
                                            <img src="{{ asset('bundles/yosimitsoworkingforum/images/lock.png') }}" width="24" style="vertical-align:bottom" />
                                        {% endif %}
                                        {% if thread.pin %}
                                            <span class="wf_pinText"><img src="{{ asset('bundles/yosimitsoworkingforum/images/pin.png') }}" width="16"/>{#{{ 'forum.pin' | trans }} : #}</span>
                                        {% endif %}
                                        {% if thread.resolved %}
                                            <span class="wf_pinText"><img src="{{ asset('bundles/yosimitsoworkingforum/images/tick.png') }}" width="16"/>{#{{ 'forum.resolved' | trans }} : #}</span>
                                        {% endif %}


                                        <a class="wf_label" href="{{ threadPath }}">{{ thread.label }}</a>
                                    </p>


                                    <p class="wf_sublabel">{{ thread.sublabel }}</p>
                                </td>
                                <td class="wf_sub_author">
                                    <img class="wf_cadre-img-small" src="{{ user_avatar(post.user) }}" />
                                    {{ thread.author.username |slice(0,30) }}
                                </td>
                                <td class="wf_sub_lastreply">
                                    {{'forum.last_reply_date' | trans }}<br />
                                    {{ post.createDate | date}} {{ 'forum.by' | trans }} {{ post.user.username}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>



            </div>
        </div>

            {{ knp_pagination_render(postList, null, {}, {'align': 'center'}) }}
    </div>

{% endblock %}