{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}


{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

{% block forum %}

    <h1>Search Forum</h1>

    {{ form_start(form) }}

    <div class="form-row">
        <div class="col-md">
            {{ form_row(form.forum) }}
        </div>
        <div class="col-md">
            {{ form_row(form.keywords) }}
            {{ form_row(form.submit) }}
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}