{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}


{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

{% block forum %}

    <h1>Search Forum</h1>

    {{ form_start(form) }}

    <div class="form-row">
        <div class="col-md">
            {{ form_row(form.forum) }}
        </div>
        <div class="col-md">
            {{ form_row(form.keywords) }}
            <div class="form-row">
                <div class="col-md">
                    {{ form_widget(form.target) }}
                </div>
                <div class="col-md-auto pt-2">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

    {% block search_result %}
    {% endblock %}

{% endblock %}


