
{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}

{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

{% block forum_header %}
    <a class="btn btn-secondary" href="{{ path('workingforum_index') }}">{{ 'admin.back_to_forum' |trans }}</a>
{% endblock %}

{% block forum %}


        <h1>{{ 'admin.admin_workingforum' | trans }}</h1>
        <div class="card-deck">

            {% if (wf_is_admin()) %}
            <div class="card">
                <div class="card-header">{{ 'admin.manage_forum' | trans }}</div>
                <div class="card-body">
                    {% if (list_forum | length > 0) %}
                    <ol>
                    {% for forum in list_forum %}
                        <li><a href="{{ path('workingforum_admin_forum_edit', { 'id' : forum.id }) }}">{{ forum.name }}</a></li>
                    {% endfor %}
                    </ol>
                    {% else %}
                        <p>{{ 'admin.no_rules' | trans }}</p>
                    {% endif %}

                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('workingforum_admin_forum_add') }}">
                        <span class="fas fa-plus"></span> {{ 'admin.add' | trans }}</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">{{ 'admin.manage_forum_rules' | trans }}</div>
                <div class="card-body">
                    {% if (rulesList | length > 0) %}
                    <ol>
                    {% for rule in rulesList %}
                        <li><a href="{{ path('workingforum_admin_edit_forum_rules', { 'id' : rule.id }) }}">{{ rule.lang }}</a></li>
                    {% endfor %}
                    </ol>
                    {% else %}
                        <p>{{ 'admin.no_rules' | trans }}</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('workingforum_admin_new_forum_rules') }}">
                        <span class="fas fa-plus"></span> {{ 'admin.rules_add' | trans }}</a>
                </div>
            </div>
            {% endif %}

            <div class="card">
                <div class="card-header">{{ 'admin.manage_users' | trans }}</div>
                <div class="card-body">
                    <ul style="list-style: inside decimal;">
                        <li><a href="{{ path('workingforum_admin_user') }}">{{ 'admin.users_list' | trans }}</a></li>
                        <li>
                            <a href="{{ path('workingforum_admin_report') }}">{{ 'admin.reported_messages' | trans }}
                                <span style="color: {% if newPostReported <= 0 %} green {% else %} red {% endif %}">
                     ({{ newPostReported }} {{ 'forum.new' | trans }})
                 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

{% endblock %}
