
{% extends '@YosimitsoWorkingForum/Admin/base.html.twig' %}

{% form_theme form.subforums '@YosimitsoWorkingForum/templates/form/collection_table.html.twig' %}

{% block forum_scripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/admin.js', 'forum') }}"></script>
{% endblock %}

{% block admin_subtitle %}
    <h2>{{ 'admin.menu.forum' | trans }}</h2>
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
        {% if statistics is defined %}
            <div class="col-auto">
                <div class="card">
                    <div class="card-header">{{ 'admin.statistics' | trans }}</div>

                    <div class="card-body">
                        <p>{{ 'forum.thread_count' | trans | capitalize }} : {{ statistics.thread_count  }}</p>
                        <p>{{ 'forum.post_count' | trans | capitalize }} : {{ statistics.post_count }}</p>
                        <p>{{ 'forum.averate_post_thread' | trans }} : {{ statistics.thread_post_ratio | round(2) }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('workingforum_admin_delete_forum', {id: forum.id}) }}"
                           class="btn btn-danger btn-block">{{ 'admin.delete_forum' | trans}}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}

