<html>
    <head>
        <style>
            {#{{ source('bundles/yosimitsoworkingforum/css/email.css') }}#}
        </style>
    </head>
    <body>
        <p class="site_title">{{ siteTitle | trans }}</p>
        <p class="hello">Hello {{ user.username }} !</p>
        <p>{{ postUser.username }} has posted into <em>{{ thread.label }}</em>, see the message below :</p>
        <hr />
        <p>{{ post.content | quote | markdown | wf_emoji | raw }}</p>
        <p>
            {% set subforum = thread.subforum %}
            <a class="url" href="{{ path( 'workingforum_thread', {
                'forumSlug': subforum.forum.slug,
                'subforumSlug' : subforum.slug,
                'threadSlug' : thread.slug,
                'threadId': thread.id}) }}">
                Click here to see the thread
            </a>
        </p>
    </body>
</html>