{% extends '@YosimitsoWorkingForum/Admin/base.html.twig' %}


{% block admin_subtitle %}
    <h2>{{ 'admin.menu.user' | trans }}</h2>
{% endblock %}

{% block admin_body %}
    <table class="table table-bordered">
        <thead>
            <th>ID</th>
            <th class="hide-for-small"></th>
            <th>{{ 'forum.user.username' | trans }}</th>
            <th>{{ 'forum.user.roles' | trans }}</th>
            <th>{{ 'forum.post_count' | trans |capitalize }}</th>
        </thead>
    <tbody>
        {% for user in usersList %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <img class="wf-user-avatar" src="{{ user_avatar(user) }}" />
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles | join(', ') }}</td>
                <td>{{ 'N/A' }}</th>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
