
{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}


{% trans_default_domain 'YosimitsoWorkingForumBundle' %}


{% block forum_styles %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-markdown-editor.css', 'forum') }}"
          type="text/css" media="all"/>
{% endblock %}

{% block forum_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>

    <script src="{{ asset('js/bootstrap-markdown-editor.js', 'forum') }}"></script>
    <script src="{{ asset('js/editor.js', 'forum') }}"></script>
    <script src="{{ asset('js/file-collection.js', 'forum') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block forum %}

    <h1>{{ ('forum.new_thread' | trans) }}</h1>

    {{ form(form) }}

{% endblock %}
