{% extends '@YosimitsoWorkingForum/Thread/thread_anonymous.html.twig' %}

{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

{% block forum_styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-markdown-editor.css', 'forum') }}"
          type="text/css" media="all"/>
{% endblock %}

{% block forum_scripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>

    <script src="{{ asset('js/bootstrap-markdown-editor.js', 'forum') }}"></script>
    <script src="{{ asset('js/editor.js', 'forum') }}"></script>
    <script src="{{ asset('js/file-collection.js', 'forum') }}"></script>


    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/thread.js', 'forum') }}"></script>
    <script src="{{ asset('js/ajax-action.js', 'forum') }}"></script>
{% endblock %}

{% block forum_header %}


    <div class="user-action-list btn-toolbar my-2">

    {% if (thread.resolved is empty) and (wf_is_user(thread.author) or wf_is_manager()) %}
        <button type="button" class="btn btn-primary btn-ajax-action mr-2"
                data-route="workingforum_resolve_thread"
                data-route-params="{{ {'threadId': thread.id} | json_encode() | escape('html_attr') }}">
            {{ 'forum.now_resolved' | trans }}</button>
    {% endif %}

    {% if not thread.locked %}
        <a class="btn btn-primary mr-2" href="#wf-post-content">{{ 'forum.reply' | trans }}</a>


    {% if wf_parameter('thread_subscription').enable is not empty %}
        <button class="btn btn-primary btn-ajax-action mr-2"
           data-route="workingforum_{{ subscription is empty ? 'subscribe' : 'unsubscribe' }}_thread"
           data-route-params="{{ {'threadId': thread.id} | json_encode() | escape('html_attr') }}">
            {{ (subscription is empty ? 'forum.add_subscription' : 'forum.cancel_subscription') | trans }}</button>
    {% endif %}

    {% endif %}
    </div>


    {% if (wf_is_manager()) %}
        <div class="manager-action-list btn-toolbar my-2">
            {% if not thread.locked %}
                <button class="btn btn-primary btn-ajax-action mr-2"
                        data-route="workingforum_lock_thread"
                        data-route-params="{{ {'threadId': thread.id} | json_encode() | escape('html_attr') }}">
                    {{ 'forum.lock' | trans }}
                </button>
            {% endif %}

            <button type="button"
                    class="btn btn-primary btn-move-thread mr-2"
                    title="{{ 'forum.select_target' | trans }}"
                    data-content="{{ form(moveThreadForm) | escape('html_attr') }}">{{ 'forum.move_thread' | trans }}</button>

            {% if wf_parameter('allow_moderator_delete_thread') or wf_is_admin() %}
                <button class="btn btn-danger btn-ajax-action mr-2"
                        data-route="workingforum_delete_thread"
                        data-route-params="{{ {'threadId': thread.id} | json_encode() | escape('html_attr') }}"
                        data-confirm="{{ 'forum.confirm_delete_thread' | trans }}">
                    {{ 'forum.delete_thread' | trans }}
                </button>
            {% endif %}

            {% if not thread.pin %}
                <button class="btn btn-info btn-ajax-action mr-2"
                        data-route="workingforum_pin_thread"
                        data-route-params="{{ {'threadId': thread.id} | json_encode() | escape('html_attr') }}">
                    {{ 'forum.pin_thread' | trans }}
                </button>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block forum_thread_editor %}

    <p class="wf_post_a_message">{{ 'forum.post_a_message' | trans([], 'YosimitsoWorkingForumBundle') }}</p>

    {{ form(form) }}

{% endblock %}