{% extends '@YosimitsoWorkingForum/Admin/base.html.twig' %}

{% block forum_header %}
    <a class="btn btn-secondary" href="{{ path('workingforum_admin_report') }}">
        {{ 'admin.report.list' |trans }}
    </a>
{% endblock %}

{% block admin_subtitle %}
    <h2>{{ 'admin.menu.report_history' | trans }}</h2>
{% endblock %}


{% block admin_body %}


    {% if (postReportList | length > 0) %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>{{ 'forum.date' | trans | capitalize }}</th>
            <th>{{ 'forum.author' | trans | capitalize  }}</th>
            <th>{{ 'forum.content' | trans | capitalize }}</th>
            <th>{{ 'admin.reported_by' | trans | capitalize }}</th>
            <th>{{ 'admin.action' | trans | capitalize }}</th>
        </tr>
        </thead>
        <tbody>
        {% for report in postReportList %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.createDate | date }}</td>
                <td>{{ report.post.user.username }}</td>
                <td>{{ report.post.content | quote | markdown | wf_emoji | raw }}</td>
                <td>{{ report.user.username }}</td>
                <td>
                    {% block admin_report_action %}
                        {% if report.review is not null %}
                            {% if report.review.type == 1 %}
                                <p style="color:green;">{{ 'admin.decision' | trans |capitalize }} {{ 'admin.report.good' | trans}}</p>
                            {% else %}
                                <p style="color:red;">{{ 'admin.decision' | trans |capitalize}} {{ 'admin.report.moderate' | trans}} ({{ report.review.reason}})</p>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>no post reported</p>
    {% endif %}


{% endblock %}
